
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    height: 600px;
    border: 1px solid gray;
    position: relative;
    /* background-color: black; */
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.button-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btn {
    padding: 1rem;
    background: black;
    color: white;
    border-radius: 0.5rem;
    min-width: 10rem;
}

.btn:disabled {
    background: gray;
}

.countdown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.countdown h1 {
    font-size: 7rem;
}

input, select {
    padding: 1rem;
    background: #CB2F00;
    color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
    width: 100%;
}

.instruction {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding: 10rem;
    display: none;
}

.instruction .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-2 {
    margin-top: 1rem;
}

input::placeholder {
    color: white;
}

.ingame {
    display: none;
}